.container {
  border: 2px solid black;
  background-color: red;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-auto-rows: minmax(120px,auto);
  height: auto;
}

.child {
  /* width: 25%; */
  border: 2px solid red;
  /* height: 55px; */
  background-color: skyblue;
}

